<a href="https://colab.research.google.com/github/AiBiC-Data/database/blob/main/db_draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine('sqlite:////content/draft.db')         # create db

In [ ]:
r_set=my_conn.execute('''           
CREATE TABLE `user` (
	`id`	INTEGER	NOT NULL PRIMARY KEY AUTOINCREMENT,
	`user_name`	VARCHAR(20)	NOT NULL,
	`user_address`	VARCHAR(200)	NOT NULL,
	`user_telnum`	VARCHAR(20) NOT NULL,
	`enroll_date`	DATE NOT	NULL
);
 ''')

In [ ]:
# insert data to table use 'insert into values;' syntax
my_conn.execute('''
INSERT INTO `user`
( `user_name`, `user_address`, `user_telnum`, `enroll_date`) VALUES
('kimminsu', 'Incheon Michuholgu Juandong 1331-31', '010-1111-1234', '2022-10-01'),
('leeyonghwan', 'Gyeonggi Namyangjusi jingunyeup jingunohnamro 100', '010-1239-2859', '2022-10-03'),
('kimminsung', 'Gyeonggi Suwaonsi Yeongtonggu Maeyoungro 310-12', '010-8888-2938', '2022-10-10'),
('jinminjung', 'Gyeonggi Gunposi hansero 66-12', '010-3333-2938', '2022-10-16'),
('limsohyeon', 'Gyeonggi Ansansi sangrokgu bonohro 145', '010-2222-8473', '2022-10-20'),
('leechewon', 'Gyeonggi Suwonsi Jangangu jowonro 16', '010-0000-8394', '2022-10-22'),
('songeunho', 'Gyeonggi Yichoensi jeungsinro 25-69', '010-4893-4948', '2022-10-23'),
('leesehyun', 'Gyeonggi Ansungsi Ahyangro4ro 46', '010-7777-3847', '2022-10-23'),
('leesujin', 'Gyeonggi Pyeongtaeksi Jungang1ro 115', '010-4333-4943', '2022-10-29'),
('kimsungwoo', 'Daejun Seogu Munyeoro 16', '010-3222-1112', '2022-10-29'),
('hwangsubin', 'Daejun Seogu Dunsanro 15', '010-2222-4847', '2022-11-01'),
('numeunchae', 'Daejun Yeosunggu gajungbukro 68', '010-9999-4839', '2022-11-02'),
('shinjeeeun', 'Jeunbuk Jeonjusi Duckjingu Gubukbawoo3gil 15', '', '2022-11-04'),
('kimsujung', 'Jeunbuk Jeonjusi Duckjingu Ohgongro 100', '010-2938-3958', '2022-11-06'),
('hwangchanwon', 'Gwangju seogu hwawoonro 193-25', '010-9992-3942', '2022-11-08'),
('jangbumjun', 'Gwangju seogu woonchunro 41', '010-0048-2930', '2022-11-09'),
('parkkyungjun', 'Gyeungnam jinjusi chojangro 14-27', '010-2322-9930', '2022-11-11'),
('chojaewon', 'Gyeungnam jinjusi solbalro 80-18', '010-3230-3333', '2022-11-15'),
('parkyeonjae', 'Busan Dongragu Myungyunro 170', '010-3234-8873', '2022-11-18'),
('kangsumin', 'Busan Yeonjaegu gobunro 200', '010-2223-5805', '2022-11-20')
''')

In [ ]:
r_set=my_conn.execute('''           
CREATE TABLE `customer` (
	`id`	INTEGER	NOT NULL PRIMARY KEY AUTOINCREMENT,
	`user_id`	INT	NOT NULL,
  FOREIGN KEY (`user_id`)
  REFERENCES `user` (`id`)
);
 ''')

In [ ]:
my_conn.execute('''
INSERT INTO `customer`
(`user_id`) VALUES
(1),
(2),
(5),
(6),
(8),
(10),
(11),
(12),
(13),
(15),
(17)
''')

In [ ]:
r_set=my_conn.execute('''           
CREATE TABLE `seller` (
	`id`	INTEGER	NOT NULL PRIMARY KEY AUTOINCREMENT,
	`user_id`	INT	NOT NULL,
  FOREIGN KEY (`user_id`)
  REFERENCES `user` (`id`)
);
 ''')

In [ ]:
# insert data to table use 'insert into values;' syntax
my_conn.execute('''
INSERT INTO `seller`
(`user_id`) VALUES
(1),
(2),
(3),
(7),
(9),
(10),
(13),
(14),
(16),
(18),
(19)
''')

In [ ]:
import sqlite3
from datetime import datetime
now = datetime.now()

def create_user(name, address, telnum): 
  date = str(now.date())
  my_conn.execute("INSERT INTO `user` (`user_name`, `user_address`, `user_telnum`, `enroll_date`) VALUES ( '"
  + name +"', '"+ address+"', '" + telnum +"', '"+ date +"' )"  
  )

print("Do you want to create User? (answer yes or no): ")
ans = input()
if ans =='yes':
  print("Put username, address, telephone number:")
  user_name, user_add, user_tel= input().split()
  create_user(user_name, user_add, user_tel)

Do you want to create User? (answer yes or no):
no

In [ ]:
def view_all_user():
  r_set = my_conn.execute("""
  SELECT A.id, A.user_name, B.seller_id, C.customer_id FROM user A 
  LEFT JOIN (SELECT id as seller_id, user_id FROM seller) B
  ON A.id = B.user_id
  LEFT JOIN (SELECT id as customer_id, user_id FROM customer) C 
  ON A.id = C.user_id;
  """)
  for row in r_set:
     print(row) 
view_all_user()

(1, 'kimminsu', 1, 1)
(2, 'leeyonghwan', 2, 2)
(3, 'kimminsung', 3, None)
(4, 'jinminjung', None, None)
(5, 'limsohyeon', None, 3)
(6, 'leechewon', None, 4)
(7, 'songeunho', 4, None)
(8, 'leesehyun', None, 5)
(9, 'leesujin', 5, None)
(10, 'kimsungwoo', 6, 6)
(11, 'hwangsubin', None, 7)
(12, 'numeunchae', None, 8)
(13, 'shinjeeeun', 7, 9)
(14, 'kimsujung', 8, None)
(15, 'hwangchanwon', None, 10)
(16, 'jangbumjun', 9, None)
(17, 'parkkyungjun', None, 11)
(18, 'chojaewon', 10, None)
(19, 'parkyeonjae', 11, None)
(20, 'kangsumin', None, None)

In [ ]:
# customer 등록 using user_id
def create_customer(user_id):
  my_conn.execute('INSERT INTO customer (user_id) VALUES (?)',(user_id,))
ans = input()
create_customer(ans)

12

In [ ]:
# seller 등록 using user_id
def create_seller(user_id):
  my_conn.execute('INSERT INTO seller (user_id) VALUES (?)',(user_id,))
ans = input()
create_seller(ans)

17